#### 1. Import pandas library

In [55]:
import pandas as pd
from google.cloud import bigquery
import os

#### 2. Import BigQuery library

In [56]:
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/inesgalofrebofill/Documents/Ironhack/ironhack_service_account_big_query.json"

#### 3. Create a connection to BigQuery

In [57]:
client = bigquery.Client()

#### 4. Import data from the users table from the stackoverflow public database for United Kingdom only

In [58]:
query_1='''

SELECT*

FROM 
        `bigquery-public-data.stackoverflow.users` u
        
WHERE u.location like '%United Kingdom%'


'''

In [59]:
query_job_1 = client.query(query=query_1)
df_1=query_job_1.to_dataframe()
df_1.head()

,id,display_name,about_me,age,creation_date,last_access_date,location,reputation,up_votes,down_votes,views,profile_image_url,website_url
0,1074,Javache,<p>Hi.</p>\n\n<p>I'm an iOS engineer at Facebo...,None,2008-08-12 10:11:09.847000+00:00,2019-10-21 15:17:18.803000+00:00,"London, United Kingdom",3107,158,21,266,None,http://thinkjavache.be/blog
1,1077,smh,<p>\nEmbedded software engineer.</p>,None,2008-08-12 10:34:56.447000+00:00,2019-09-07 17:19:22.130000+00:00,"Southampton, United Kingdom",1075,148,4,69,None,http://www.bevois.com
2,4397,andygeers,None,None,2008-09-03 13:48:30.233000+00:00,2019-11-29 12:40:30.020000+00:00,"London, United Kingdom",6057,511,12,593,None,http://www.geero.net/
3,5337,J Hunt,<p></p>,None,2008-09-09 09:07:41.840000+00:00,2015-02-19 16:29:45.007000+00:00,United Kingdom,602,1,0,127,None,None
4,6910,Jonathan,<ul><li>Started programming with Visual Basic ...,None,2008-09-15 12:48:35.843000+00:00,2019-11-29 15:15:39.270000+00:00,United Kingdom,21315,897,8,831,https://www.gravatar.com/avatar/592695fec5a951...,http://www.toolan.net

#### 5. Rename id column to user_id

In [60]:
df_1=df_1.rename(columns={'id':'user_id'})
df_1.head()

,user_id,display_name,about_me,age,creation_date,last_access_date,location,reputation,up_votes,down_votes,views,profile_image_url,website_url
0,1074,Javache,<p>Hi.</p>\n\n<p>I'm an iOS engineer at Facebo...,None,2008-08-12 10:11:09.847000+00:00,2019-10-21 15:17:18.803000+00:00,"London, United Kingdom",3107,158,21,266,None,http://thinkjavache.be/blog
1,1077,smh,<p>\nEmbedded software engineer.</p>,None,2008-08-12 10:34:56.447000+00:00,2019-09-07 17:19:22.130000+00:00,"Southampton, United Kingdom",1075,148,4,69,None,http://www.bevois.com
2,4397,andygeers,None,None,2008-09-03 13:48:30.233000+00:00,2019-11-29 12:40:30.020000+00:00,"London, United Kingdom",6057,511,12,593,None,http://www.geero.net/
3,5337,J Hunt,<p></p>,None,2008-09-09 09:07:41.840000+00:00,2015-02-19 16:29:45.007000+00:00,United Kingdom,602,1,0,127,None,None
4,6910,Jonathan,<ul><li>Started programming with Visual Basic ...,None,2008-09-15 12:48:35.843000+00:00,2019-11-29 15:15:39.270000+00:00,United Kingdom,21315,897,8,831,https://www.gravatar.com/avatar/592695fec5a951...,http://www.toolan.net

#### 6. Import from the stackoverflow_posts table all items which have up to 20 view counts and only select 'id', 'owner_user_id', 'score', 'view_count', 'comment_count', 'favorite_count'

In [61]:
query_2='''

SELECT 
    sp.id,
    sp.owner_user_id,
    sp.score,
    sp.view_count,
    sp.comment_count,
    sp.favorite_count

FROM 
        `bigquery-public-data.stackoverflow.stackoverflow_posts` sp
        
WHERE sp.view_count <= 20


'''

In [62]:
query_job_2 = client.query(query=query_2)
df_2=query_job_2.to_dataframe()

In [63]:
df_2.head(10)

         id  owner_user_id  score  view_count  comment_count  favorite_count
0  23154134            NaN      1          20              0             NaN
1  37516574            NaN      0           7              0             NaN
2  37319831            NaN      1          18              0             NaN
3  31140287            NaN      1          16              3             NaN
4  36546336            NaN      0           8              0             NaN
5  37135854            NaN      0          12              0             NaN
6   1555629            NaN      0          20              0             NaN
7  36321359            NaN      0          18              0             NaN
8  36544553       846347.0      0          12              0             NaN
9  24160601       837501.0      0          12              0             NaN

#### 7. Rename id column to post_id and owner_user_id to user_id

In [64]:
df_2=df_2.rename(columns={'id':'post_id','owner_user_id':'user_id'})

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: user_id, reputation,views,up_votes,down_votes
    **posts columns**: post_id, score,user_id,view_count,comment_count

In [69]:
df_users=df_1[['user_id', 'reputation','views','up_votes','down_votes']]
df_posts=df_2[['post_id', 'score','user_id','view_count','comment_count']]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [66]:
data_marged=pd.merge(df_posts,df_users,on='user_id')

In [67]:
data_marged.head()

,post_id,score,user_id,view_count,comment_count,reputation,views,up_votes,down_votes
0,36869494,1,13153.0,19,0,7895,578,419,7
1,37297217,0,13153.0,16,0,7895,578,419,7
2,37732871,0,13153.0,7,0,7895,578,419,7
3,36302663,1,4222145.0,19,0,71,21,64,0
4,37656361,1,1677045.0,18,3,816,106,50,3

#### 9. How many missing values do you have in your merged dataframe?

In [68]:
null_cols=data_marged.isnull().sum()
null_cols

post_id          0
score            0
user_id          0
view_count       0
comment_count    0
reputation       0
views            0
up_votes         0
down_votes       0
dtype: int64

#### Bonus: Identify extreme values in your merged dataframe, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder. Hint: post_id cannot have outliers!